<div class="sidenav" [ngClass]="collapsed? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fas fa-bars"></i></button>
        <div class="logo-text" (click)="toggleCollapse()" *ngIf="collapsed">FERA</div>
        <button class="btn-close" *ngIf="collapsed" (click)="toggleCollapse()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a href="" class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
                <i class="fas fa-caret-down dropdown" *ngIf="data.subMenu && collapsed"  (click)="toggleMenu()"></i>
            </a>
            <ul class="sidenav-submenu" *ngIf="data.subMenu && collapsed && isSideMenu">
                <li class="sidenav-submenu-item" *ngFor="let sub of data.subMenu">
                    <a href="" class="sidenav-submenu-link"  [routerLink]="[sub.routeLink]"></a>
                    <span class="sidenav-submenu-text" *ngIf="collapsed">{{sub.label}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>