<h1>Users Details </h1>
<div class="card">
    <div class="card-body">
        <div>
            <h5>Contact Details </h5>
            <div class="" style="border-bottom: 1px solid rgba(51, 51, 51, 0.2); width:100%;"></div>
        </div>
        <div class="row d-flex mt-4">
            <div class="col-md-3">
                <div class="tag">
                    <h6>Name</h6>
                </div>
                <h6>Gabriela Funke Ohmas</h6>

            </div>
            <div class="col-md-3">
                <div class="tag">
                    <h6>Phone Number
                    </h6>
                </div>
                <h6>08011223344</h6>
            </div>
            <div class="col-md-3">
                <div class="tag">
                    <h6>Email Address</h6>
                </div>
                <h6>gabrielaohmas@gmail.com</h6>
            </div>
            <div class="col-md-3">
                <div class="tag">
                    <h6>Residential Address</h6>
                </div>
                <h6>17, Jide Collins Avenue, Onipanu, Surulere, Lagos.</h6>
            </div>
        </div>

        <div class="row d-flex mt-4">
            <div class="col-md-4">
                <div class="tag">
                    <h6>Valid Means of ID</h6>
                </div>
                <h6>2010213309 (NIN)</h6>
                <img src="" width="120" height="100"
                    style="background-color: rgba(51, 51, 51, 0.2); align-items: center;">

            </div>
            <div class="col-md-4">
                <div class="tag">
                    <h6>User Category
                    </h6>
                </div>
                <h6>Vendor (Individual Salvage Buyer)</h6>
            </div>
            <div class="col-md-4">
                <div class="tag">
                    <h6>Preferred Method(s) of Recieving Information</h6>
                </div>
                <h6>SMS, Email</h6>
            </div>
        </div>
        <div class="row mx-auto pb-4" style="margin-top: 100px;">
            <div class="col-6 ">
                <button class="btn btn-decline" type="submit">Decline</button>
            </div>
            <div class="col-6 flex-row-reverse ">
                <button class="btn btn-approve" type="submit" data-toggle="modal" data-target="#submit">Approve</button>
            </div>

        </div>
    </div>
</div>

<button class="btn btn-previous" type="submit">Return</button>