<div id="register">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="div">
                    <h3 class="mb-4 register" style="color: #757575;">Register</h3>
                    <h6 class="mb-4" style="font-weight: 600; font-size: 16px;">Input Details</h6>
                </div>

                <form>
                    <div class="row">
                        <div class="col-4 col-md-4 form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="">
                        </div>
                        <div class="col-4 col-md-4 form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="">
                        </div>
                        <div class="col-4 col-md-4 form-group custom-wrapper">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" name="phoneNumber" id="">
                            <img src="/assets/phone.png">
                        </div>
                    </div>

                    <label for="email">Email Address</label>
                    <div class="row">
                        <div class="col-8 form-group">
                            <input type="email" class="form-control" name="email" id=""
                                placeholder="Enter your email address">
                            <img class="custom-img" src="/assets/mail.png">
                        </div>
                        <div class="col-4 col-md-4 ">
                            <button class="btn  verify" type="submit">Verify</button>
                        </div>
                    </div>
                    <span>A code has been sent to your axa mansard email address. Please enter the code in the input box below for verification</span>
                    <div class="form-group">
                        <label for="residentialAddress">Residential Address</label>
                        <textarea class="form-control" rows="3" id="comment"></textarea>
                    </div>
                </form>
                <button class="btn btn-proceed" disabled type="submit">Proceed</button>

            </div>
        </div>
    </div>
</div>